azure-ai-projects
azure-identity
aiohttp
ipykernel
dotenv

--extra-index-url https://pkgs.dev.azure.com/azure-sdk/public/_packaging/azure-sdk-for-python/pypi/simple/
azure-search-documents==11.6.0a20250505003
