.header {
    background-color: #ffffff;
    color: #eee;
}

.navbar-logo {
    width: 80%;
    height: auto;
    margin-left: 20px;
    margin-top: 8px;
}

.nav-link { color: #fff; }
.nav-link:hover { color: #eee; }

.auth-link { color: #fff; }
.auth-link:hover { color: #eee; }
