/* Detail Styles */
.results-info {
    margin: 1em;
    display: inline; 
}

.results {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-left: 0em;
    margin-right: 0em;
}

.results .result {
    width: 20rem;
    max-height: 32rem;
}

.results .result a {
    color: #181818; /* Dark color for the hyperlinks */
}

.centered-symbol {
    font-size: 20px; /* Adjust the size of the symbol */
    cursor: pointer; /* Change the cursor to indicate it's clickable */
    display: inline;
    margin-left: 10px;
  }