--extra-index-url https://pkgs.dev.azure.com/azure-sdk/public/_packaging/azure-sdk-for-python/pypi/simple/
azure-ai-projects>=2.0.0a20251104004
azure-identity
aiohttp
ipykernel
dotenv
azure-search-documents==11.7.0a20251028004
requests